<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marknkamau.justjava">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:name=".JustJavaApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrinkDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.cart.CartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.checkout.CheckoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.cart.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.login.LogInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_just_java_logo_black" />

    </application>

</manifest>